body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
header, footer {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}
div.content {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
div.block {
    display: block;
    margin-bottom: 10px;
}
span.inline {
    display: inline;
}
span.inline-block {
    display: inline-block;
    margin-right: 10px;
}
#specialImage1 {
    margin-right: 20px; 
    transform: rotate(90deg); 
}
#specialImage2 {
    margin-right: 20px; 
    transform: rotate(340deg); 
}
#specialImage3 {
    margin-right: 20px; 
    transform: rotate(170deg); 
}
